body{
    font-family: tahoma, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.div-main{
    width: 1024px;
    margin: 20px auto;
}

.header-main{
    background-color: #1a2b35;
    height: 50px;
    position: relative;
}

.header-logo{
    margin: 7px 0 0 200px;
}

.header-nav{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.header-nav ul{
    margin: 0;
    padding: 0;
}


.header-nav li{
    display: inline-block;
    margin: 0 15px 0 0; 
    padding: 15px;
}

.header-nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(126, 126, 126);
    letter-spacing: 5px;
    font-size: 12px;
    font-weight: bold;
    transition: color .3s linear;
}

.header-nav a:hover{
    color: #fff;
}

.portfolio{
    text-align: center;
    padding: 50px 100px;
}

.portfolio h1{
    font-size: 36px;
    color: #555;
}

.portfolio p{
    font-size: 16px;
    line-height: 2;
    color: #777;
}

.gallery{
    overflow: auto;
    padding: 0px 100px 50px 100px;
}

.gallery-card{
    width: 32%;
    float: left;
    text-align: center;
}

.gallery-title{
    font-size: 16px;
    color: #555;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
}

.gallery-text{
    font-size: 16px;
    color: #777;
}

.about{
    background-color: #003d52;
    height: 350px;
    padding: 100px;
    color: white;
    background-image: url(../imagens/bg_detalhe.png);
    background-position: right bottom;
    background-repeat: no-repeat;
}

.about h2{
    font-family: Helvetica, sans-serif;
    font-size: 42px;
    text-transform: uppercase;
    margin: 0;
    font-weight: normal;
}

.about p{
    width: 420px;
    margin: 30px 0 0 0;
    line-height: 1.5;
}

.contact p{
    color: #003d52;
    text-transform: uppercase;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    font-style: normal;
    margin: 30px 0;
}

footer{
    background-color: #1a2b35;
    height: 50px;
    margin: 30px 0;
}

footer p{
    color: rgb(113, 192, 188);
    font-size: 12px;
    text-align: center;
    padding: 18px;
    letter-spacing: 3px;
}