@charset "UTF-8";

html{
    font-family: sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Oxygen";
}

.clearfix::after, .row::after{
    content: ' ';
    display: block;
    clear: both;
}

.button-default{
    display: inline-block;
    padding: .9em 2.5em;
    background-color: #58c4c4;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.button-default:hover{
    background-color: #37a0a0;
}

.header-main{
    text-align: center;
}

.header-main-img{
    margin: .5em;
}

.header-main-nav{
    background-color: #612674;
    text-align: center;
}

.header-main-nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-main-nav a{
    color: #fff;
    text-decoration: none;
    padding: 1em;
    display: block;
}

.header-main-nav a:hover{
    background-color: #7c3792;
}

.top-content{
    text-align: center;
    padding: 1em;
    background-color: #f6f6f6;
}

.top-content-title{
    color: #612674;
    font-size: 1.375em;
    margin: 1.375em;
}

.top-content-subtitle{
    color: #a87bb7;
    font-size: 1em;
    line-height: 1.2;
}

.middle-content{
    padding: 2em;
    background-color: #f6f6f6;
    text-align: center;
}

.middle-content-title{
    font-size: 1.25em;
    color: #652e78;
    text-transform: uppercase;
}

.middle-content p{
    line-height: 1.5;
    color: #222;
}

.middle-content span[class^=icon]{
    font-size: 3em;
    color: #652e78;
}

.main-content{
    padding: 2em;
}

.main-content-article{
    margin-bottom: 3.5em;
}

.main-content-title{
    font-size: 1.25em;
    color: #652e78;
    text-transform: uppercase;
    letter-spacing: .2em;
}

.main-content p{
    line-height: 1.2;
}

.hidden{
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
}

.main-footer{
    background-color: #25303e;
    color: #83869f;
    text-align: center;
    padding-bottom: 2em;
}

.main-footer-menu{
    background-color: #303d4c;
    padding: .5em;
}

.main-footer-menu li{
    display: inline-block;
    margin: 0 1em;
}

.main-footer-menu a{
    text-decoration: none;
    font-size: 1.1em;
    color: #fff;
}

@media screen and (min-width: 48.75em){
    .header-main-img{
        float: left;
    }

    .header-main-nav{
        float: right;
        background-color: transparent;
        margin-top: 28px;
    }

    .header-main-nav ul{
        margin: 0;
        padding: 0;
    }

    .header-main-nav li{
        display: inline-block;
    }

    .header-main-nav a{
        color: #713a84;
        font-weight: bold;
    }

    .header-main-nav a:hover{
        background-color: #e7d9fe;
    }

    .top-content{
        background-color: #521a66;
    }

    .top-content-title, .top-content-subtitle{
        color: #fff;
    }

    .col-1-4{
        width: 44%;
        margin: 3%;
        float: left;
    }

    .main-content-article .button-default{
        float: right;
    }
}

@media screen and (min-width: 62.5em){
    .top-content{
        background: #521a66 url(../images/bg_topo_1198x670.jpg);
        height: 15em;
        padding-top: 15em;
    }
}

